html {
  margin: auto;
  max-width: 500px
}

body {
  vertical-align: middle;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #e5e5e5;
}

h3 {
  margin: 0;
}

table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;

  th {
    padding: 0 3px;

    &.sort {
      text-decoration: underline;
    }
  }

  td,
  th {
    text-align: center;

    &:first-child {
      border: none;
      padding-right: 5px;
    }

    &:nth-child(2) {
      border-right: 1px solid #a6a6a6;
    }

    &:nth-child(2),
    &:nth-child(3) {
      text-align: left;
      padding: 5px;
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: #e5e5e5;
    }

  }

}

.splash {
  text-align: center;

  .url-search {
    width: 80%;
    margin: auto;

    input {
      border-radius: 3px 0 0 3px;
      border: 1px solid black;
      border-right: none;
      width: 80%;

      &:focus {
        outline: none;
      }
    }

    button {
      border-radius: 0 3px 3px 0;
      border: 1px solid black;
      background-color: #5353a6;
      color: white;
    }
  }

  .input-error {
    font-weight: bold;
    background-color: #db8181;
    border: 3px solid #a21818;
    border-radius: 3px;
  }
}
